/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --border-color: #d9d9d9;
    --white: #ffffff;
    --shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    --radius-main: 20px;
    --radius-small: 15px;
    --section-padding: 30px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
    outline: 2px solid var(--main-color);
    outline-offset: 2px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: var(--white);
    border-radius: var(--radius-main);
    padding: 5px;
    filter: drop-shadow(var(--shadow));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;
}

header img {
    margin-top: 30px;
    height: 19px;
}

nav ul {
    display: flex;
    gap: 68px;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    padding-top: 16px;
    border-top: 2px solid transparent;
}

header a:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/****** Section Recherche ***********/
h1 {
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 22px;
}

.hero-subtitle {
    margin-top: 0;
    margin-bottom: 35px;
}

.search form {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.search form > i {
    color: #000000;
    background-color: var(--main-bg-color);
    padding: 14px 18px 15px;
    border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.search input {
    width: 195px;
    padding: 14px 24px;
    border-top: 1px solid var(--main-bg-color);
    border-right: 0;
    border-bottom: 1px solid var(--main-bg-color);
    border-left: 0;
    border-radius: 0;
}

.search input::placeholder {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}

.search form button {
    padding: 12px 16px;
    border: 0;
    border-radius: 0 var(--radius-small) var(--radius-small) 0;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.search form button:hover {
    opacity: 0.8;
}

.search form button i {
    display: none;
}

.filtres {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
    margin-bottom: 35px;
    font-size: 18px;
}

.filtres button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 0 19px;
    border: 2px solid var(--border-color);
    border-radius: 35px;
    background-color: var(--white);
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.filtres button:hover {
    background-color: var(--filter-bg-color);
    opacity: 0.8;
}

.no-wrap {
    white-space: nowrap;
    flex-shrink: 0;
}

.info-logements {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 0;
    margin-bottom: 37px;
}

.info-logements i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 3%;
}

.hebergements-and-populaires section {
    padding: var(--section-padding);
    border-radius: var(--radius-main);
    background-color: var(--main-bg-color);
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2,
.activites h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 22px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.hebergements-cards a {
    display: block;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: var(--radius-main);
    border-top-right-radius: var(--radius-main);
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px 10px;
}

.hebergements-cards .card-title {
    margin-top: 9px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.populaires-cards a {
    display: block;
}

.populaires-cards .card {
    display: flex;
    margin-top: 0;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: var(--radius-main);
    border-bottom-left-radius: var(--radius-main);
}

.populaires-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 67%;
    padding-left: 15px;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    padding: 30px;
    margin-bottom: 35px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.activites-cards a {
    display: block;
}

.card-activite {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--white);
    border-radius: var(--radius-main);
    filter: drop-shadow(var(--shadow));
    overflow: hidden;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.activites-cards h3 {
    margin: 0;
    padding: 19px 20px;
    font-size: 16px;
}

/****** Footer ***********/
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--main-bg-color);
}

footer div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer h3 {
    margin: 0;
    font-size: 18px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres button {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements,
    .populaires {
        width: 100%;
    }

    .populaires {
        margin-top: 0;
    }

    .populaires-cards {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /****** Mobile header ***********/
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    nav li {
        flex: 1;
    }

    nav a {
        padding: 30px 0 17px;
        text-align: center;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
    }

    nav a:hover {
        border-top: none;
        border-bottom-color: var(--main-color);
        color: var(--main-color);
    }

    /****** Mobile section recherche ***********/
    h1 {
        margin-top: 0;
        padding: 0 20px;
    }

    .hero-subtitle,
    .info-logements,
    .search form {
        padding: 0 20px;
    }

    .search input {
        flex: 1;
        min-width: 0;
        padding: 14px 24px;
    }

    .search form button {
        padding: 13px 16px;
        border-radius: var(--radius-small);
    }

    .search form button i {
        display: block;
        color: var(--white);
    }

    .search button span {
        display: none;
    }

    .filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 10px;
        height: auto;
        padding: 0 20px;
    }

    .filtres h4 {
        grid-column: 1 / -1;
        margin: 0;
    }

    .filtres button {
        width: 100%;
    }

    /****** Mobile Hébergements et Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 0;
    }

    .hebergements-and-populaires section {
        padding: 30px 20px;
        border-radius: 0;
    }

    /****** Mobile Populaires ***********/
    .populaires {
        margin: 0;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards img {
        height: 146px;
    }

    /****** Mobile Hébergements ***********/
    .hebergements-and-populaires .hebergements {
        background-color: var(--white);
    }

    .hebergements {
        margin-bottom: 25px;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .hebergements-cards img {
        height: 124px;
    }

    /****** Mobile Activités ***********/
    .activites {
        padding: 30px 20px;
    }

    .activites-cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .activites-cards img {
        height: 141px;
    }

    /****** Mobile Footer ***********/
    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }
}
